@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@500&display=swap');
@import "./components/Filters.scss";

$font-family: "Mohave";
$background-primary: rgb(179,151,207);
$background-gradient: linear-gradient(180deg, rgba(179,151,207,1) 0%, rgba(207,151,160,1) 100%);



